*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;

}

img{
    width: 100%;
    height: 100%;
}

.todo-list-container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(155deg, #037733, #6f6a28);;
    padding: 10px  ;
}

.todo-list{
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    margin: 100px auto 25px;
    padding: 50px  30px 70px;
    border-radius: 10px;
}

.todo-list h3{
    display: flex;
    color: #002765;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; 
 }

 .todo-list h3 img{
    width: 40px;
    height: 50px;
    object-fit: contain;
    margin-left: 10px;
}

 .list-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding: 10px 0px;
    border-radius: 10px;
    margin-bottom: 30px;
    
 }

 input{
    flex: 1;
     border: none;
     outline: none;
     padding: 10px;
     font-size: 16px;
    background: transparent;
 }

 button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #1b6a03;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;

 }

 ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;

 }

 ul li::before{
    content: "";
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-image: url(/assests/uncheck\ icon.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 12px;
    left: 8px;
 }

 ul li.checked{
    color: rgb(34, 34, 14);
    text-decoration: solid;

 }

 ul li.checked::before{
    background-image: url(/assests/check\ icon.png);
 }

 ul li span{
position: absolute;
right: 0;
top: 6px;
width: 40px ;
height: 40px;
font-size: 22px;
color: #de0a0a;
line-height: 40px;
text-align: center;
/* border-radius: 50%; */

 }

 ul li span:hover{
    background: #edeef0;
    /* background: #35783380; */
    border-radius: 50%;
    color: #de0a0a;
}

@media only screen and (max-width:  480px) {
 
  .list-row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #eaeff8;
   padding: 10px 10px;
   border-radius: 10px;
   margin-bottom: 30px;
   width: 100%;
}

input{
   
    padding: 15px;
    font-size: 15px;
   background: transparent;
   width: 60%;
}

 button{
   padding: 10px 17px;
   font-size: 15px;
   background: #274b03;


 }

 
 button:hover{
   padding: 10px;
   background: #6f6a28;
 }

}

