@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-color: #dc775e;
  --primary-color-darkshade: #bb6547;
  --text-dark: #171717;
  --text-light: #525252;
  --extra-light: #f5f5f5f5;
  --white: #ffff;
  --max-width: 1200px;
}

.section-container{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-header{
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-dark );
}

.section-description{
  margin-bottom: 2rem;
  color: var(--text-light);
}

.btn{
  padding: .75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  white-space:nowrap;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.btn:hover{
  background: var(--primary-color-darkshade);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}
 
img{
  width: 100%;
  display: flex;
} 

a{
  text-decoration: none;
}

html, body{
  scroll-behavior: smooth;
}

.nav{
position:  fixed;
isolation: isolate;
top: 0; 
width: 100%;
max-width: var(--max-width);
margin: auto;
z-index: 9;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--extra-light);
}

.navbar a{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

#menu-btn{
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
} 

.navLinks{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--text-light);
  transform: translateY(-100%);
  z-index: -1;
}

.navLinks.open{
  transform: translateY(0);
}

.navLinks a{
  color: var(--white);
  transition: 0.3s;
}

.navLinks a:hover{
  color: var(--primary-color);
}

.header-container{
  padding: 8rem;
  display: grid;
  gap: 2rem ;
  text-align: center;
}

.header-content h1{
  margin-bottom: 1rem;
  font-size: 2rem ;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 2.5rem;
}

.header-content h1 span{
  font-size: 6rem;
  line-height: 6rem;
}

.header-img img{
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, .2));
  -webkit-filter: drop-shadow (10px 20px rgba(0, 0, 0.2));
  animation: header 5s infinite;
  /* width: 50%; */
  /* height: 100%; */
}

@keyframes header{
  0%, 100%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(-20px);
  }
  75%{
    transform: translateY(26px);
  }
}




@media (width > 768px){
  .nav{
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
  }

  .navbar{
    padding: 0;
    background-color: transparent;
    /* background-color: red; */
  }

  .nav-menu{
    display: none;
  }

.navLinks{
  padding: 0;
  width: unset;
  position: static;
  flex-direction: row;
  background-color: transparent;
}

.navLinks a{
  color: var(--text-dark);
}


.header-container{
  padding-top: 5rem;
  align-items: center;
  grid-template-columns: repeat(2fr, 1fr);
  text-align: left;
}

.header-img{
  grid-area: 1/2/2/3;
}
}
