@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-color: rgb(212, 69, 12);
  --primary-color-darkshade: #98310b;
  --text-dark: #302e2e;
  --text-light: #403c3c;
  --extra-light: #f7ecec56;
  --white: #f0eeee;
  --max-width: 1200px;
}

.section-container{
  max-width: var(--max-width);
  margin: auto;
  padding: 4rem 1rem;
  /* background-color: red; */
  width: 193%;
  /* text-align: center; */
}

.section-header{
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--text-dark );
}

.section-description{
  margin-bottom: 2rem;
  color: var(--text-light);
}

.btn{
  padding: .75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  white-space:nowrap;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(14, 14, 14, 0.1);
  transition: 0.4s;
}

.btn:hover{
  background: var(--primary-color-darkshade);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}
 
img{
  width: 100%;
  display: flex;
} 

a{
  text-decoration: none;
}

html, body{
  scroll-behavior: smooth;
}

.nav{
position:  fixed;
isolation: isolate;
top: 0; 
width: 100%;
max-width: var(--max-width);
margin: auto;
z-index: 9;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

}

.navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--extra-light);
}

.navbar a{
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-dark);
  /* margin-top: -15px; */
}

#menu-btn{
  font-size: 1.5rem;
  color: var(--text-dark);
  cursor: pointer;
} 

.navLinks{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;
  background-color: var(--text-light);
  font-size: 17px;
  font-weight: 500;
  transform: translateY(-100%);
  z-index: -1;
}

.navLinks.open{
  transform: translateY(0);
}

.navLinks a{
  color: var(--white);
  transition: 0.3s;
}

.navLinks a:hover{
  color: var(--primary-color);
  margin: 10px;
}

.header-container{
  /* padding: 8rem; */
  display: grid;
  gap: 2rem ;
  text-align: center;
}

.header-content{
  width: 600px;
}

.header-content h1{
  margin-bottom: 1rem;
  font-size: 2.5rem ;
  font-weight: 500;
  color: var(--text-dark);
  line-height: 2.5rem;
}

.header-content h1 span{
  font-size: 6rem;
  line-height: 6rem;
}

.header-img img{
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, .2));
  -webkit-filter: drop-shadow (10px 20px rgba(0, 0, 0.2));
  animation: header 5s infinite;
  /* width: 50%; */
  /* height: 100%; */
}

@keyframes header{
  0%, 100%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(-20px);
  }
  75%{
    transform: translateY(26px);
  }
}

.sect-about{
  background-color: var(--extra-light);
  width: 100%;
}

.section-container{
  display: grid;
  gap: 2rem;
  /* text-align: center; */

}

.about-img img{
max-width: 550px;
margin: auto;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

}


.product-container .section-description{
  /* max-width: 900px; */
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}


.product-grid{
  margin-top: 4rem;
  display: grid;
  gap: 4rem 1rem;
}

.products-card img{
  max-width: 350px;
  width: 220px;
  height: 200px;
  margin-inline: auto ;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

.products-card h4{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.products-card p{
  margin-bottom: 2rem;
  color: var(--text-light);
  }

  .products-card a{
    color: var(--primary-color);
    text-decoration: underline;
    transition: 0.3s;
  }

  .products-card a:hover{
    color: var(--primary-color-darkshade );
  }

  .gallery-container{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 300px;
    text-align: left;
  }

  .gallery-image{
    position: relative;
    isolation: isolate;
  }

  .gallery-image img{
    height: 100%;
    object-fit: cover ;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }

  .gallery-image-details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;

  }

  .gallery-image-details h4{
     font-size: 1.5rem;
     font-weight: 500;
     color: var(--white);
  }

  .gallery-image-details div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .gallery-image-details .btn{
    padding-inline: 1rem;
  }

  .gallery-image:hover .gallery-image-details{
    opacity: 1;

  }

  .article-wrapper{
    background-color: var(--extra-light);    
    /* background-color: red; */
  }

  .article-grid{
    margin-top: 4rem;
    display: grid;
    gap: 4rem 1rem;
  }

  .article-card img{
    max-width: 500px;
    margin-bottom: 1rem;
    height: 400px;
    margin-inline: auto;
    object-fit: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }


  .article-card h4{
    margin-bottom: 1.2rem;
    font-size:  1.6rem;
    font-weight: 600;
    color: var(--text-dark);
  }

  .article-card p{
    margin-bottom: 1.8rem;
    color: var(--text-light);
  }

  .article-card a{
    color: var(--primary-color);
    text-decoration: underline;
    transition: 0.3s;
 }
  
 .article-card a:hover{
  color: var(--primary-color-darkshade);
 }

 .subscribe-container{

  display: grid;
  gap: 2rem;
  text-align: center;

 }

 .subscribe-image img{
  max-width: 350px;
  margin: auto;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
 }

 .subcribe-content form{
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  background-color: var(--extra-light);
 }

 .subcribe-content input{
  width: 100%;
  padding-inline: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  background: transparent;

 }

 .banner-wrapper{
  background-color: var(--extra-light);
   }

   .banner-container{
    display: grid;
    gap: 2rem;
   }
   .banner-card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   }

   .banner-card img{ 
    max-width: 100px;
   }

   .banner-card h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
   }

   .footer-container{
      display: grid;
      gap: 2rem;
   }

   .footer-col h4{
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark );
   }

   .footer-links{
    list-style: none;
    display: grid;
    gap: 1rem;
   }


   .footer-links a{
    font-weight: 600;
    color: var(--text-light);
    transition: 0.3s;
   }

   .footer-links a:hover{
    color: var(--primary-color);
   }

   .footer-bar{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--extra-light);
   }

   .footer-bar p{
    font-size: .9rem;
    font-weight: 600;
    color: var(--text-light);
    text-align: center;
   }
  
   .footer-socials{
    display: flex;
    align-items: center;
    gap: 1rem;
   }

   .footer-socials a{
    font-size: 1.3rem;
    color: var(--text-light);
    transition: 0.3s;
   }

   .footer-socials a:hover{
    color: var(--primary-color  );
   }




   @media (width > 224px){
    .section-container{
      max-width: var(--max-width);
      margin: auto;
      padding: 4rem 2rem;
      /* width: 193%; */
      text-align: center;
    }

    .section-description {
      margin-bottom: 1rem;
      color: var(--text-light);
      font-size:20px;
      margin: auto;
      padding: 2rem ;
  }

  .products-card p {
    margin-bottom: 1rem;
    color: var(--text-light);
    font-size: 20px;
}

.product-container .section-description {
  /* max-width: 900px; */
  width: 100%;
  font-weight: 400;
  font-size: 20px;
}

.products-card img {
  /* max-width: 350px; */
  width: 80%;
  height: 50%;
  margin-inline: auto;
  margin-bottom: 2rem;
  object-fit: cover;
}





   }



  @media (width > 576px){

    /* .section-container{
      max-width: var(--max-width);
      margin: auto;
      padding: 4rem 1rem;
      background-color: red;
      width: 193%;
      text-align: center;
    } */


    .product-grid{
      grid-template-columns: repeat(2, 1fr);
      /* overflow: hidden; */
    }

    .gallery-container{
      grid-template-columns: repeat(2, 1fr);
    }

    .gallery-image:nth-child(4){
      grid-area: 1/2/2/3;
    }

    .article-grid{
      grid-template-columns: repeat(2, 1fr);
    }

    .banner-card{
      justify-content: flex-start;
    }

    .banner-container{
      grid-template-columns: repeat(2, 1fr);
    }

    .footer-container{
      grid-template-columns: repeat(2, 1fr);
    }

    /* .header-container {
      padding: -8rem;
      overflow: hidden;
   
  } */

  }











@media (width > 768px){
  .nav{
    padding: 3rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
  }

  .navbar{
    padding: 0;
    background-color: transparent;
    /* background-color: red; */
  }

  .nav-menu{
    display: none;
  }

.navLinks{
  padding: 0;
  width: unset;
  position: static;
  flex-direction: row;
  background-color: transparent;
}

.navLinks a{
  color: var(--text-dark);
  display: noneme;
}


.header-container{
  padding-top: 5rem;
  align-items: center;
  grid-template-columns: repeat(1fr, 1fr);
  text-align: left;
}

.header-img{
  grid-area: 1/2/2/3;
}

.about-container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
}

.about-img{
  grid-area: 1/2/2/3;
}

.product-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}


.gallery-container{
  grid-template-columns: repeat(3, 1fr);
}

.gallery-image:nth-child(1){
  grid-area: 1/1/3/2;
}

.gallery-image:nth-child(2){
  grid-area: 1/2/2/3;
}

.gallery-image:nth-child(3){
  grid-area: 2/2/3/3;
}

.gallery-image:nth-child(4){
  grid-area: 1/3/3/4;
}

.article-grid{
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem ;
}

.subscribe-container{
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: left;
}

.subcribe-content form{
  margin-inline-start: unset;
}

.banner-container{
  grid-template-columns: repeat(3, 1fr);
}


.footer-container{
  grid-template-columns: repeat(4, 1fr);
}

.footer-bar{
  flex-direction: row;
}


 






}
